<div class="panel">
	<header class="panel-heading">ServiceOptions</header>
	<div class="panel-body">
		<a href="#/service_options/add" class="btn btn-primary pull-left">Add New ServiceOptions</a>
		<table id="datatable" class="table table-striped">
			<thead>
				<tr>
					<th>Service</th>
					<th>Option Name</th>
					<th>Base Price</th>
					<th>Description</th>
					<th>Actions</th>
				</tr>
			</thead>

			<tbody>
				
			</tbody>
		</table>
	</div>
</div>