<div class="panel">
	<div class="panel-body">
		<h3>Edit Department</h3>

<div class="form form-horizontal form-view">
	<div class="form-group">
		<label class="control-label col-md-2 required" for="name" id="name-label">Name</label>
		<div class="col-md-6">{{input id="name" class="form-control type-varchar" value=name}}</div>
	</div>
	<button class="btn btn-primary" {{action 'save'}}>Save</button>
	<button class="btn btn-default" {{action 'cancel'}}>Cancel</button>
</div>

	</div>
</div>