<div class="panel">
	<header class="panel-heading">Departments</header>
	<div class="panel-body">
		<a href="#/departments/add" class="btn btn-primary pull-left">Add New Departments</a>
		<table id="datatable" class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Actions</th>
				</tr>
			</thead>

			<tbody>
				
			</tbody>
		</table>
	</div>
</div>