<div class="panel panel-primary">
	<div class="panel-heading">Users</div>
	<div class="panel-body">
		<a href="#/users/add" class="btn btn-primary pull-left">Add New User</a>
		<table id="datatable" class="table table-striped">
			<thead>
				<tr>
					<th>Username</th>
					<th>Email</th>
					<th>Confirmed</th>
					<th>Role</th>
					<th>Actions</th>
				</tr>
			</thead>

			<tbody>
				
			</tbody>
		</table>
	</div>
</div>