<div class="panel panel-primary">
	<div class="panel-heading">Subscriptions</div>
	<div class="panel-body">
		<a href="#/subscriptions/add" class="btn btn-primary pull-left">Add New Subscription</a>
		<table id="datatable" class="table table-striped">
			<thead>
				<tr>
					<th>User</th>
					<th>Service</th>
					<th>Option</th>
					<th>Billing Cycle</th>
					<th>Expire Date</th>
					<th>Status</th>
					<th>Actions</th>
				</tr>
			</thead>

			<tbody>
				
			</tbody>
		</table>
	</div>
</div>