<div class="panel panel-primary">
	<div class="panel-heading">Tickets</div>
	<div class="panel-body">
		<a href="#/tickets/add" class="btn btn-primary pull-left">Add New Ticket</a>
		<table id="datatable" class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Title</th>
					<th>User</th>
					<th>Department</th>
					<th>Status</th>
					<th>Actions</th>
				</tr>
			</thead>

			<tbody>
				
			</tbody>
		</table>
	</div>
</div>