<div class="panel panel-primary">
	<div class="panel-heading">Campaigns</div>
	<div class="panel-body">
		<a href="#/campaigns/add" class="btn btn-primary pull-left">Add New Campaign</a>
		<table id="datatable" class="table table-striped">
			<thead>
				<tr>
					<th>Title</th>
					<th>Description</th>
					<th>Template</th>
					<th>Actions</th>
				</tr>
			</thead>

			<tbody>
				
			</tbody>
		</table>
	</div>
</div>