<div class="panel panel-primary">
	<div class="panel-heading">BillingCycles</div>
	<div class="panel-body">
		<a href="#/billing_cycles/add" class="btn btn-primary pull-left">Add New BillingCycle</a>
		<table id="datatable" class="table table-striped">
			<thead>
				<tr>
					<th>Service</th>
					<th>Cycle</th>
					<th>Discount</th>
					<th>Created At</th>
					<th>Updated At</th>
					<th>Actions</th>
				</tr>
			</thead>

			<tbody>
				
			</tbody>
		</table>
	</div>
</div>